:root{
--space-0:0px;
--space-half:4px;
--space-1:8px;
--space-2:16px;
--space-3:24px;
--space-4:32px;
--space-5:40px;
--space-6:48px;
--space-8:64px;
--space-10:80px;
--space-12:96px;

--touch-min:44px;
--touch:48px;

--gutter:24px;
--page-max:1200px;
}